
<h5>Touchscreen </h5>Allows the use of the touchscreen while driving.<br>Fix Cluster Compass: Some things will be disabled while driving but the touchscreen itself and the cluster compass will work 
<h5>No More Disclaimer </h5>Completely remove the disclaimer or reduce the expansion time of the disclaimer from 3.5 to 0.5 seconds. 
<h5>Reverse Camera Safety Warning </h5>No security
<h5>Semi-Transparent Parking Sensor Graphics. </h5> Semitransparent parking sensor graphics for proximity sensors. When activating the rear camera, the car is displayed at the top right corner. The graphics now appear semitransparent by installing tweak. 	<img src="app/files/img/semi-transparent_parking-sensors.jpg" alt="semi-transparent_parking-sensors">
<h5>Main Menu Loop. </h5>Loop for the main menu.<br>You can jump from left to far right, and vice versa. 
<h5>Improved List Loop. </h5>Loop for all lists and submenu (music, contacts, etc.).<br>You can now jump from the top position of a list to the bottom and vice versa. 
<h5>Shorter Delay Mod. </h5>Reduces the waiting time for switching between pages with the multi commander from 1.5 to 0.3 seconds. 
<h5>No More Beeps</h5>Disable all 'Beeps' made by the system that are not silenced by the 'Settings > Sound > Beep' option. This also includes the beeps that cannot be silenced by the settings option. 
<h5>Change Order of the Audio Source List. </h5> The order of the audio source list is arranged as follows: <ui><li>USB_A</li> <li>USB_B</li> <li>btaudio</li> <li>AuxIn</li> <li>FMRadio</li> <li>DAB</li> <li>CD</li> <li>SatRadio</li> <li>AhaRadio</li> <li>Pandora</li> <li>Stitcher</li> <li>amradio</li> <li>DVD</li> <li>TV</li></ui> 
<h5>Pause On Mute. </h5> When pressing mute (pressing the volume button) played media are also paused. 
<h5>Remove Message Replies </h5>Removes the text 'Sent from my Mazda Quick Text System' if answering messages. 
<h5>1 Sec Diag Menu </h5>Allows you to open the diagnostic menu by touching the clock at the top right of the <b>display settings menu</b> for one second. 
<h5>Boot Animation </h5>The boot animation that leads to the menu with the red buttons will be disabled. 
<h5>Date In Status Bar Mod. </h5> Permanently visible date + icons by the clock, even if system messages are displayed. 	<img src="app/files/img/mzd_datum_icons_all.jpg" alt="mzd_datum_icons_all">
<h5>USB Audio Mod. <small>By: Enlsen</small> </h5><b>Patches The USB Audio App With These Mods: <br><ol><li>Long press (click hold) folders/all songs to play</li><li>Adds new icon for USB root menu on the UMP control</li> <li>Removes "More like this" button from UMP control</li><li>Adds folders button to UMP control</li><li>Set folders and song list icons correctly (were switched) on UMP control</li><li>Removes trailing "/" character from folder names for list control and title of now playing</li><li>Adds folder and song icons to the list control</li><li>Adds folder and playlist icons to now playing</li></ol> 	<img src="app/files/img/USBAudioMod.jpg" alt="USBAudioMod">
<h5>Bigger Album Art </h5> You get a bigger album art graphic. Extra Options: Full Width Titles & Hide Album Art 	<img src="app/files/img/full_titles.png" alt="full_titles">
<h5>No Background Behind Buttons </h5> Remove the background behind the buttons and other semi-transparent overlay backgrounds. Overlays that can be removed: Now Playing, List View, In Call, Text Message View, and Behind Buttons 	<img src="app/files/img/NoButtonBackground.jpg" alt="NoButtonBackground">
<h5>Change Blank Album Art Frame </h5>The empty album cover frame is removed, which is displayed when there is no entry in the Gracenote database for the artist. Then the image of a radio is displayed, if there is no cover in the MP3 tag too. Supported image formats are: jpg, jpeg, and png (any size). Note: The image chosen will be resized to 146px x 146px <b>BUT NOT CROPPED</b> and converted to .png format 
<h5>Videoplayer <span class='icon-video-camera2'></span> </h5> Add videoplayer app to the application menu. 
<h5>Swapfile </h5>The Swapfile will provide your system with an additional 1 GB of RAM running from the USB drive for playing videos. The installation of the swap file must be done on a USB drive with music and/or movies, that remains in the car.. The installation files are automatically deleted, the drive may no longer be removed during operation, because the system will use it also as memory.. Only remove the USB drive if the MZD system is off. 
<h5>Speedometer With Compass in the Application Menu. </h5> <ul><li>Below the speedometer is km/h or mph, depending on the setting</li> <li>Speed range up to 240 km/h</li> <li>Consumption values</li> <li>Optimized graphics modules with new speedometer pointer</li> <li>Small speedometer needle for top speed in the analog part</li> <li>The picture for the speedometer scale has different lengths or bright lines for 5, 10 and 20 km/h jumps</li> <li>Right table English or German and color / size optimized</li> <li>All numbers have a slight shadow around to better stand out from the background.</li> <li>On travel direction rotating compass central to the current speed</li> <li>Animated overlay in the status with GPS speed and direction of travel in each menu can be prepared by touch at the clock</li> <li>Latitude and longitude in the right table</li> <li>When the Navi or Rear Camera is started, it automatically appears</li></ul><br>For the small speedo in the status bar you have to install date_to_statusbar mod too. Therefore it will be automatically selected, if not already done. 	<img src="app/files/img/mzd_SpeedoCompass.gif" alt="mzd_SpeedoCompass">
<h5>Fuel Consumption Tweak. </h5> Additional display of KM / L (or MPG). 	<img src="app/files/img/FuelConsumptionTweak.jpg" alt="FuelConsumptionTweak">
<h5>Castscreen receiver. </h5> After installation you can mirror the smartphone screen at the infotainment display (mirroring). <ul><li>You have to install the <button class='w3-btn' onclick='openApkFolder()'>castscreen app</button> on your Android Phone (castscreen-1.0.apk) The app can be found in the 'config' folder of your USB drive</li> <li>activate the debug mode on your smartphone</li> <li>connect the smartphone with USB cable to the infotainment system</li> <li>start the app settings: H264, 800x480 @ 160, 1 mbps, then input 127.0.0.1 and press input receiver, then tap Start on right-up corner.</li></ul>. 
<h5>Android Car Headunit app for the MZD Infotainment System. </h5> <ol><li>Install the Android app from google play store</li><li> Connect the phone to USB and pair the phone bluetooth with the CMU </li><li> Android Auto will then start. If it does not try to open from the 'Applications' menu <li>3 ways to stop AA <ol><li>Press Home Button on the Mazda's Commander</li><li>Disconnect the USB cable</li><li>Use the onscreen menu 'Return to Mazda Connect' on last screen with speedo icon.</li></ol></ol></div> 	<img src="app/files/img/AndroidAuto.jpg" alt="AndroidAuto">
<h5>This is an experimental app that I made to test the limits of app functionality. For each success there were several failures.</h5><h6><strong>Every function in this app is <em>not</em> guaranteed to work</strong> but here are some useful and/or fun things you can do:</h6><ul><li>&#39;Apps&#39; Tab:<ul><li>Home: Goes home. This was the easy part.</li><li>Go to: USB A, USB B, Bluetooth (audio context).</li><li>Previous, Next - Works without changing contexts</li><li>Stop (and Start*) Android Auto Headunit process.<ul><li>Killing headunit process with allow Bluetooth calling to work correctly.</li><li>Starting the process does not work properly yet, reboot CMU to restart headunit process.</li></ul></li><li>Stop and Start Castscreen Receiver<ul><li>Useful for troubleshooting if it is not functioning correctly. </li><li>Both of these do work but there is a possibility that a memory issue may prevent the process from properly starting in which case a reboot is required to allow the process to run.</li></ul></li></ul></li><li>&#39;Tweaks&#39; Tab:<ul><li>Many familiar AIO layout related tweaks that can be applied on the fly<ul><li>Applied tweaks are automatically saved to localStorage and saved tweaks are applied on boot.</li><li>Toggle each individual tweak on or off.</li><li>One button to reset all tweaks.</li><li><em>NOTE: AIO Tweaks App will not UNDO installed tweaks, they will mix and may result in unexpected and/or interesting layouts</em></li></ul></li></ul></li><li><p>&#39;Options&#39; Tab:</p><ul><li><p>Touchscreen: <em>NOTE: Changes to the touchscreen functionality are applied when the vehicle comes to a <strong>COMPLETE STOP</strong></em></p><ul><li>Enable Touchscreen and Menu</li><ul><li>Normally disabled menu items while driving ie. Text messages &amp; enter address for navigation,</li><li>Compass is disabled</li></ul><li>Enable Touchscreen and Compass</li><ul><li>Compass is functional</li><li>Menu items are disabled</lI></ul><li>Disable Touchscreen</li><ul><li>Touchscreen and Menu Items disabled</li><li><p>Compass is functional</p></li></ul></ul></li><li><p>Show Background: Show only background (any button to exit).</p></li><li>Reboot: To Reboot.</li></ul></li></ul></div>. 	<img src="app/files/img/AIO_Tweaks-Screen.png" alt="AIO_Tweaks-Screen">
	21 	Media Order Patch & FLAC Support 	Enable Media Order Patch & FLAC Support 	Remove Media Order Patch & FLAC Support 	Media Order Patching & FLAC Support </h5>Music will be sorted alphabetically and not by date with new entries first. FLAC music files will also work. <h6>Audio Order Patch & FLAC Support is only compatible with these FW Versions: </h6><div style='columns:5'>55.00.650A-NA 55.00.753A-NA 55.00.760A-NA 56.00.100A-ADR 56.00.230A-EU 56.00.240B-ADR 56.00.511A-EU 56.00.512A-EU 56.00.521A-NA 58.00.250A-NA 59.00.326A-ADR 59.00.331A-EU 56.00.513C-EU 56.00.513B-EU 56.00.513C-ADR 59.00.330A-ADR 59.00.342A-ADR 59.00.441A-NA 59.00.443C-EU</div> 
